<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS-AXW2iEeox3enWyyeDhWevBX9sLcRU0</string>
	<key>GCM_SENDER_ID</key>
	<string>728232615931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmetmvural.videoSummarize</string>
	<key>PROJECT_ID</key>
	<string>summarize-541d8</string>
	<key>STORAGE_BUCKET</key>
	<string>summarize-541d8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728232615931:ios:99a3b0a48c0d5ea734b55e</string>
</dict>
</plist>